#!/usr/bin/env bash

# General environment variable
export BLOCKSIZE=10k
export EDITOR='nvim'
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
export LESS='-F -Q -M -R -X -i -g -s -x4 -z-2'
export LESSHISTFILE=-
export MANPAGER='less -X'

# Set the hostname for this computer
HOSTNAME=$(hostname -f)
export HOSTNAME

# Specify the architecture build setting for compilers
ARCHFLAGS=$(uname -m)
export ARCHFLAGS

# Ensure homebrew-installed binaries for curl take precedence
LIBCURL_CFLAGS=-L$(brew --prefix)/opt/curl/lib
LIBCURL_LIBS=-I$(brew --prefix)/opt/curl/include
export LIBCURL_CFLAGS
export LIBCURL_LIBS

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
GPG_TTY=$(tty)
export GPG_TTY

# LS_COLORS Sections:
#   Standard -- no... (refer to: https://is.gd/6MzI27)
#   Archive - 7za...
#   Package - deb...
#   Image - jpg...
#   Video - avi...
#   Audio -- flac...
#   Code -- js...
#   Configuration -- *akefile...
#   Template -- erb...
#   Style -- css...
#   Markdown -- md...
#   Document -- pdf...
# Note:
#   mi - completion options color
#   so - completion matching-prefix color
export LS_COLORS="no=00:fi=00:di=38;5;111:ln=38;5;117:pi=38;5;43:bd=38;5;212:\
cd=38;5;219:or=30;48;5;203:ow=38;5;75:so=38;5;252;48;5;0:su=38;5;168:\
ex=38;5;156:mi=38;5;115:\
*.7z=38;2;255;119;153:*.gz=38;2;255;119;153:*.iso=38;2;255;119;153:\
*.rar=38;2;255;119;153:*.tar=38;2;255;119;153:*.tgz=38;2;255;119;153:\
*.zip=38;2;255;119;153:\
*.deb=38;2;255;97;105:*.dmg=38;2;255;97;105:*.rpm=38;2;255;97;105:\
*.jpg=38;2;180;150;250:*.jpeg=38;2;180;150;250:*.png=38;2;154;150;250:\
*.avi=38;2;175;215;175:*.m4b=38;2;244;180;180:*.mp4=38;2;244;180;180:\
*.mkv=38;2;255;190;148:*.mov=38;2;255;164;121:*.mpg=38;2;175;215;175:\
*.wmv=38;2;255;177;140:\
*.flac=38;2;255;215;183:*.mp3=38;2;255;175;215:*.wav=38;2;255;169;255:\
*.js=38;2;171;184;245:*.lua=38;2;171;184;245:*.rb=38;2;171;184;245:\
*.rs=38;2;171;184;245:*.ts=38;2;171;184;245:\
*akefile=38;2;95;215;175:*.conf=38;2;95;215;175::*package.json=38;2;95;215;175:\
*pubspec.toml=38;2;95;215;175:*Cargo.toml=38;2;95;215;175:\
*Dockerfile=38;2;95;215;175:*Gemfile=38;2;95;215;175:\
*.erb=38;2;140;214;255:*.html=38;2;140;214;255:*.svelte=38;2;140;214;255:\
*.css=38;2;140;214;255:*.scss=38;2;140;214;255:\
*.md=38;2;213;218;180:*README=38;2;213;218;180:\
*.epub=38;2;173;173;231:*.mobi=38;2;173;173;231:*.ods=38;2;173;173;231:\
*.odt=38;2;173;173;231:\
*.pdf=38;2;218;218;218"

# 'fzf' options
export FZF_DEFAULT_OPTS='
      --height 75% --multi --reverse --margin=0,1
      --bind ctrl-d:page-down,ctrl-u:page-up
      --bind pgdn:preview-page-down,pgup:preview-page-up
      --marker="✚" --pointer="▶" --prompt="❯ "
      --no-separator --scrollbar="█" --border
      --color bg+:#262626,fg+:#dadada,hl:#f09479,hl+:#f09479
      --color border:#303030,info:#cfcfb0,header:#80a0ff,spinner:#36c692
      --color prompt:#87afff,pointer:#ff5189,marker:#f09479'

export FZF_DEFAULT_COMMAND='fd --type f --color=never'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS='--preview "bat --color=always --line-range :500 {}"'
export FZF_ALT_C_COMMAND='fd --type d . --color=never'
export FZF_ALT_C_OPTS='--preview "eza -T | head -n 100"'
