# TAB cycles forward through completion choices. Press an arrow key to choose a
# selection.
TAB: menu-complete
# Shift-TAB cycles backward through completion choices. Press an arrow key to
# choose a selection.
"\e[Z": menu-complete-backward

# Use Alt + Delete to delete the preceding word
"\e[3;3~": kill-word

# Substring history search using UP and DOWN arrow keys.
"\e[A": history-substring-search-backward
"\e[B": history-substring-search-forward

# Readline behaviors. Refer to 'man bash' / "Readline Variables" section.
#
# Enable completion coloring.
set colored-completion-prefix on
set colored-stats on
# Ignore case when completing.
set completion-ignore-case on
# Treat hypen and underscores as equivalent.
set completion-map-case on
# The number of completions to display without prompt; when exceeded a
# prompt-to-display will appear.
set completion-query-items 200
# Automatically add slash to the end of symlinked directories when completing.
set mark-symlinked-directories on
# Don't automatically match files beginning with dot.
set match-hidden-files off
# Display the common prefix choices on the first completion then cycle the
# available choices on the next completion.
set menu-complete-display-prefix on
# Turn off the completions pager.
set page-completions off
# Immediately display completion matches.
set show-all-if-ambiguous on
# Smartly complete items when the cursor is not at the end of the line.
set skip-completed-text on
# Keep terminal quiet and clean.
set bell-style none
set echo-control-characters off
# Disable Bash 5.1 highlighted paste feature.
# See: https://is.gd/fsgOMe
set enable-bracketed-paste off
# Show extra file information when completing, like `ls -F` does
set visible-stats on
# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
